 body{
    background-color: #180C32;
 }
 .top-text{
    display: flex;width: 219px;font-size: 30px;
height: 32px;margin-left: 200px;
 }
  .nav{
    display: flex;
    justify-content: space-between;
  }
  .top-center{
    display: flex; gap: 33px;margin-top: 33px;color: aliceblue;
  }
.btn{
    margin-right: 200px; 
}
.btn{
     background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    width: 135px;
height: 44px; border-radius: 99px; border: none ;color: aliceblue;
font-style: 16px; margin-top: 33px;}
.wave
{  color: rgb(219, 63, 7);
}
  .one{ background-color: #180C32;

  }
  .circle{ width: 1600px;
height: 760px; margin-left:  625px;margin-top: 30px;
  }
  .banner{
    background-image:url(./assets/hero-bg.png);max-width: 1700px;width: 100%;height: 100%;
  }
  .img{
    margin-top: 100px;margin-left: 625px;position: relative;
  }
  .micro{
    position: absolute; z-index: 1;margin-left: -235px;margin-top: 180px;
 

  }
  .second{
    font-style: Extra Bold;
font-size: 60px;
font-weight: 800;text-align: center;color: aliceblue      ;margin-right: 400px;
  }
  .normal{
    font-size: 16px;
font-weight: 400;text-align: center;color: aliceblue      ;
  }
  .snd p{
    margin: 0px; text-align: center;
  }
  .vtn{
    font-style: Semi Bold;
font-size: 25px;gap: 16px;justify-content: space-between;
font-weight: 600;   align-items: center;justify-content: center;
  }
  .btn-img{
    height: 17px;
  width: 17px;
}
.shop{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));width: 201px;
height: 44px;font-size: 20px; gap: 16px;  align-items: center;border-radius: 99px;border: 0px;color: antiquewhite;
}
.nshop{
    border-radius: 99px;width: 147px;
height: 44px;font-size: 20px;
font-weight: 600;  
}
.nshop{
    
}
.podcast{
    justify-content: center;font-family: Inte
font-style: Bold;
font-size: 48px;
font-weight: 700;color: white;
}
.rate{
    color:  #00FF88;
font-family: Inter; text-align: center;
 margin-top: 160px; margin-left: 120px;
font-size: 48px;
font-weight: 900;
display: grid;
grid-template-columns: repeat(4,1fr);
}
.tag{
width: 50px;
height: 60px;
}
.text{
    color: aliceblue;
}
#one{
  grid-area: one;
}
#two{
  grid grid-area: two;
}
#three{
  grid-area: three;
}
#four{
  grid-area: four;
}
#five{
  grid-area: five;
}
.mid{ margin-left: 80px;
  display: grid;
  gap: 20px;
  grid-template-areas: "one  two  two"
  "one three three"
  "four four five";
}
.vdo{
 margin-left: 80px; margin-top: 120px; color: aliceblue; display: flex; gap: 30px;
}
.card{
  height: 500px; width: 500px; border-radius: 40px; background-color:  rgba(53, 17, 101, 0.4); align-items: center;justify-content: center;text-align:center ;
}
.cnt{
  margin-top: 20px; margin-left: 20px;
}
.foot{
  display: flex; gap: 40px;   margin-top: 50px; max-width: 1400px; 
height: 280px; background-color:  rgba(53, 17, 101, 0.4); margin-left: 200px; border-radius: 90px;
} 
.sc{
  height: 20px;
width: 20px; border-radius: 33px; gap: 20px;padding: 10px;border: 1px solid rgba(83, 60, 114, 1);

}
.s{
  gap: 502px;
}
.footer{
  background-image: url(./assets/footer-bg.png);max-width: 1700px;
height: 500px;   
}
.tech{
  margin-top: 20px;margin-left: 200px;
}
.shopi{
display: flex; gap: 30px; align-items: center; font-size: 25px; margin-left: 600px; margin-top: 0px;padding-top: 0px;
}
 .ham{
  display: none;
 }
 
 @media screen and (max-width:576px) {
    .top-center{
      display: none;
    }
    .ham{
      display: block;
    }
    .sub{
      display: none;
    }
   .one{
    justify-content: space-between;
   }
      .top-text{
        margin-left: -1px; padding-left: 20px;
      }
    .banner{
 ;
    }
.img{
  width: 20%; margin-right: -220px;
height: 20%px;
}
.micro{
  width: 80px;  
height: 80px;
}











  }
  
  
  
  
  
  
  
  
  
  
  }
 
 
 



}
